<div class="student-container">
  <h2 style="text-align: center; color: #333;">Student Management</h2>

  <div class="form-row" style="display: flex; gap: 10px; margin-bottom: 20px;">
    <input [(ngModel)]="newStudent.name" placeholder="Name">
    <input [(ngModel)]="newStudent.class" placeholder="Class">
    <input [(ngModel)]="newStudent.section" placeholder="Section">
    
    <button 
    [class]="isEditMode ? 'btn-edit' : 'btn-add'" 
    (click)="save()" 
    [disabled]="isLoading"
    >
    
    {{ isLoading ? 'Saving...' : (isEditMode ? 'Update' : 'Add') }}
    </button>

    <button *ngIf="isEditMode" class="btn-delete" (click)="resetForm()" style="background-color: #6c757d;">
      Cancel
    </button>
  </div>

  <table class="student-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Section</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of students">
        <td>{{ s.name }}</td>
        <td>{{ s.class }}</td>
        <td>{{ s.section }}</td>
        <td>
          <button class="btn-edit" (click)="onEdit(s)">Edit</button>
          <button class="btn-delete" (click)="onDelete(s.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>